@CHARSET "UTF-8";

:root{
    --background-color:#0077C6;
    --accent-color-dark:#004472;
    --accent-color-light:#4DB8FF;
}

body{
    background: var(--background-color);
}

.loginFormWrapper {
    font: 16px/2em Lato, serif;
    margin: 100px auto;
    max-width: 400px;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 26px;
}

.loginFormWrapper form {
    color: #5d5d5d;
    background: #f2f2f2;
    border-radius: 10px;
}
.loginFormWrapper .errMessage{
    color:red;
}

.loginFormWrapper .loginLogo {
    display: block;
    margin: 0px auto 35px;
    max-width: 90%;
}
.loginFormWrapper form input,
.loginFormWrapper form button {
    width:100%;
    font-size: 18px;
    margin: 16px 0;
}

.loginFormWrapper .noAccount a{
    display:block;
    text-align: center;
}

.noAccount h1{
    font-size: 125%;
    color:#5a6268;
    text-align: center;
}

.loginFormWrapper button{
    color: white;
    background:var(--accent-color-dark);
}
.loginFormWrapper button:hover{
    background:var(--accent-color-light);
}

.loginFormWrapper form > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}
.form-links a {
    color: #fff;
}